.header {
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color: #02020267;
	box-shadow: 0 5px 10px #000;
	// background: linear-gradient(45deg, rgb(38, 11, 134), rgb(18, 27, 155));
	padding: 15px 15px;
	&__navigation {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 15px;
	}
	&__homepage {
		a {
			flex: 1 1 auto;
			z-index: 10;
			display: block;
			font-size: 30px;
			color: rgba(255, 255, 255, 0.521);
			font-family: "Roboto Slab";
			font-weight: 500;
		}
	}
	&__button {
		background-color: transparent;
		font-size: 30px;
		font-weight: 500;
		color: rgba(255, 255, 255, 0.521);
	}
	&__projects {
		position: relative;
	}
	&__list {
		bottom: 0;
		padding: 5px;

		width: 100%;
		position: absolute;
		display: flex;
		background-color: #a09d9dea;
		.header__link {
			z-index: 10;
			display: block;
			font-size: 25px;
			color: rgb(144, 56, 245);
			font-family: "Roboto Slab";
			font-weight: 500;
		}
	}
}
