.header {
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color: #02020267;
	box-shadow: 0 5px 10px #000;
	// background: linear-gradient(45deg, rgb(38, 11, 134), rgb(18, 27, 155));
	padding: 15px 100px;
	&__navigation {
	}

	&__list {
		display: flex;
		.header__link {
			position: relative;
		}
		a {
			z-index: 10;
			display: block;
			font-size: 1.875rem;
			color: rgb(185, 182, 182);
			font-family: "Roboto Slab";
			font-weight: 500;
		}
	}
}
.hint {
	transform: translateY(-150%);
	p {
		font-size: 22px;
	}
	transition: all 1s ease 0s;

	&.active {
		transform: translateY(-5%);
	}

	z-index: 5;
	color: white;
	padding: 15px;
	border-radius: 5px;
	background-color: #3a3a3aa2;
	position: absolute;
}
