.wrapper {
	font-family: "Montserrat";
	min-height: 100%;
	width: 100%;
	background: linear-gradient(135deg, rgb(49, 49, 49), rgb(0, 0, 0));
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}
