.wrapper {
	font-family: "Montserrat";
	min-height: 100%;
	width: 100%;
	background: linear-gradient(135deg, rgb(185, 181, 181), rgb(149, 182, 176));
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}
